*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
    text-decoration: none;
}
ul{
    list-style: none;
}

.container  {
    font-size: 15px;
    width: 100%;
}

.navigation {
    font-size: 13px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    background-color: #e6e6e6;
    width: 100%; 
}
.navbar a{
    margin-right: 30px;
    color: #262626;
}
.navbar a:hover {
    text-decoration: underline;
}
.bar1, .bar2 {
    display: flex;
}


.title {
    height: 60px;
    background-color:#0067b8 ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.title a {
    color: #fff;
}
.title a:hover {
    text-decoration: underline;
}
.logo img {
    height: 25px;
}
.showcase img {
    height: 580px;
    width: 100%;
    object-fit: cover;
}
.text1 {
    background-color: #fff;
    width: 700px;
    height: 330px;
    position: absolute;
    top: 19%;
    left: 100px;
    
}
.text1 h1, p{
    color: #333;
}
.text1 h1{
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 20px;
    font-size: 2.2rem;
    letter-spacing: 1px;
}
.text1 p{
    font-size: 16px;
    padding-left: 40px;
    padding-right: 100px;
}


.linkbox {
    font-weight: bold;
    background-color: #0067b8;
    
}
.plans {
    position: absolute;
    bottom: 40px;
    left: 40px;

}
.plans ul{
    padding: 15px;
}

.plans a {
    color: #fff; 
    font-size: 17px;
    word-spacing: 3px; 
}
.plans a:hover{
    text-decoration: underline;
}
.shop {
    margin: 100px;

}
.shop ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    
}
.shop a {
    color: #0067b8;
    text-decoration: underline;
}
.shop li{
    text-align: center;
}

.icon {
    height: 40px;
    width: 40px;
}
.cards{
    display: flex;

}
.card li{
    background-color: #0067b8;
    width: fit-content;
    padding: 15px;
}
.card a{
    color: #fff;
    font-weight: bold;

}
.card{
    /* padding: 24px 24px 0; */
    word-wrap: break-word;
}


